<p>
    Do you have a favorite movie director?  
    <button type="button" onclick="document.getElementById("demo").innerHTML = "Link to Directer"">
    Click me to display Date and Time.
    </button>
</p>

<p>
    Do you have a favorite movie writer?  
    <select name="writer">
        <button value="red">Yes</button>  
        <button value="red">No</button>
</p>

<p>
    Do you have a favorite movie star?  
    <select name="star">
        <button value="red">Yes</button>  
        <button value="red">No</button>
</p>